body > footer {
  display: none;
}

.page-menu a[href="#jossmaclil-libs"] {
  display: none;
}
.tsd-navigation.settings {
  display: none;
}
.tsd-page-navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tsd-page-navigation ul {
  padding-inline-start: 1.3rem;
}
ul.tsd-signatures > li:not(:last-child) {
  border-bottom: 1px solid var(--color-accent);
  margin-bottom: 2em;
  padding-bottom: 1em;
}
ul.tsd-signatures {
  counter-reset: signature;
}
ul.tsd-signatures > li:not(:only-child):before {
  content: "Overload " counter(signature);
  counter-increment: signature;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

@media (min-width: 770px) {
  .container-main {
    --dim-container-main-margin-y: 0px;
  }
  .col-content,
  .page-menu {
    padding-block: 2rem;
  }
}

@media (min-width: 770px) {
  .col-sidebar {
    max-height: calc(
      100vh - var(--dim-header-height) - var(--dim-container-main-margin-y)
    );
  }
}
